[submodule "crawler"]
	path = crawler
	url = https://github.com/hdkhanhkhtn/news-crawler.git
[submodule "public/webapp"]
	path = public/webapp
	url = https://github.com/hdkhanhkhtn/JDFNews.git
[submodule "docker-compose"]
	path = docker-compose
	url = https://github.com/hdkhanhkhtn/docker-compose.git
